{
    "env": {
        "node": true
    },

    "rules": {
        // Rules are divided into sections from http://eslint.org/docs/rules/

        // Possible errors
        "comma-dangle": 0,
        "no-console": 0,

        // Best practices
        "block-scoped-var": 2,
        "complexity": [2, 10],
        "eqeqeq": [2, "smart"],
        "no-else-return": 2,
        "no-floating-decimal": 2,
        "no-lone-blocks": 0,
        "no-self-compare": 2,
        "wrap-iife": [2, "inside"],

        // Variables
        "no-use-before-define": 0,
        "no-shadow": 0,

        // Node.js/io.js
        "no-mixed-requires": 0,

        // Stylistic issues
        "brace-style": 2,
        "camelcase": 0,
        "new-cap": 0,
        "no-lonely-if": 2,
        "no-underscore-dangle": 0,
        "space-after-keywords": 2,
        "space-in-brackets": [2, "never"],
        "space-infix-ops": 2,
        "quotes": [2, "single"],

        // Legacy
        "no-bitwise": 2
    }
}
